<?xml version="1.0"?>
<!--
/**
 *
 * @category   Mage
 * @package    Liftmode_ConvertKit
 * @copyright  Copyright (c)  Dmitry Bashlov, contributors.
 */
-->
<config>
    <tabs>
        <newsletter translate="label" module="newsletter">
            <label>newsletter</label>
            <sort_order>110</sort_order>
        </newsletter>
    </tabs>
    <sections>
        <newsletter translate="label" module="newsletter">
            <groups>
                <convertkit translate="label" module="convertkit">
                    <label>ConvertKit Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>

                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </api_key>

                        <api_secret translate="label">
                            <label>API Secret</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </api_secret>

                        <form_id translate="label">
                            <label>Form Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </form_id>
                    </fields>
                </convertkit>
            </groups>
        </newsletter>
    </sections>
</config>